$schema: "http://json-schema.org/draft-06/schema#"

description: snakemake configuration file

type: object

properties:
  samples:
    type: string
  units:
    type: string

  ref:
    type: object
    properties:
      species:
        type: string
      release:
        type: integer
      build:
        type: string
    required:
      - species
      - release
      - build

  trimming:
    type: object
    properties:
      activate:
        type: boolean
    required:
      - activate

  pca:
    type: object
    properties:
      activate:
       type: boolean
      labels:
        type: 
          - array
          - string
        items:
          type: string
    required:
      - activate

  diffexp:
    type: object
    properties:
      contrasts:
        type: object
      model:
        type: string
    required:
      - contrasts

  params:
    type: object
    properties:
      star: 
        type: string
    required:
      - star

required:
  - samples
  - units
  - ref
  - pca
  - diffexp
  - params
  - trimming
